<div class="row" id="avatar_section">
  <%= render partial: "avatar_section" %>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Account informations:</h2>
    <%= simple_form_for current_user, url: profile_path(id: current_user.id), method: :put do |f| %>
      <%= f.input :username, required: true %>
      <%= f.input :full_name, required: false %>
      <%= f.input :location, required: false %>
      <%= f.input :webpage, required: false %>
      <%= f.input :signature, required: false %>
      <%= f.submit "Update profile", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
