<div class="row">
  <h2>Your avatar:</h2>
  <div class="col-md-2">
    <%= image_tag current_user.avatar(:thumb) %>
  </div>
  <div class="col-md-4">
    <% if current_user.gravatar %>
      We're currently using your <%= link_to "Gravatar", "http://gravatar.com", target: :blank %>.
      <%= link_to "Reload Gravatar", "#", class: 'btn btn-primary' %>
      <p></p>
    <% else %>
      Your avatar:
      <%= link_to "Use Gravatar", "#",  class: 'btn btn-primary' %>
    <% end %>
    <!-- change to update avatar path - modal? -->
    <%= simple_form_for current_user, url: profile_path(id: current_user.id), method: :put do |f| %>
      <%= f.input :avatar, as: :file %>
      <%= f.submit "Update Avatar", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Account informations:</h2>
    <%= simple_form_for current_user, url: profile_path(id: current_user.id), method: :put do |f| %>
      <%= f.input :username, required: true %>
      <%= f.input :full_name, required: false %>
      <%= f.input :location, required: false %>
      <%= f.input :webpage, required: false %>
      <%= f.input :signature, required: false %>
      <%= f.submit "Update profile", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
