<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= errors_for(resource) %>

      <div class="form-group">
        <%= f.label :full_name %>
        <%= f.text_field :full_name, class: 'form-control', autofocus: true, required: true %>
      </div>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', required: true %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-success' %>
      </div>
    <% end %>

    <p>
      <%= link_to image_tag("google.png", class: "google-button"), user_omniauth_authorize_path(:google_oauth2) %>
    </p>

    <%= render "devise/shared/links" %>
  </div>
</div>
