<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Topics</h3>
    </div>
    <div class="panel-body">
      <%= link_to "All topics", admin_topics_path, class: "btn btn-success" %>
      <table class="table table-admin">
        <tbody>
          <% @topics.each do |topic| %>
            <tr>
              <td class="col-md-10"><%= topic.name %></td>
              <td class="col-md-1"><%= link_to "Edit", edit_admin_topic_path(topic.id), class: "btn btn-primary btn-sm", remote: true %></td>
              <td class="col-md-1">
                <% if topic.closed? %>
                  <%= link_to "Open", open_admin_topic_path(topic.id), class: "btn btn-warning btn-sm", method: :post %>
                <% else %>
                  <%= link_to "Close", close_admin_topic_path(topic.id), class: "btn btn-danger btn-sm", method: :post %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
