<h2>Hi <%= current_user.full_name %>!</h2>
<h4>Welcome in the Admin panel.</h4>

<p><%= link_to "Back to forum", root_path, class: "btn btn-primary" %></p>

<div class="row">
  <%= render partial: "users" %>
  <%= render partial: "categories" %>
</div>

<div class="row">
  <%= render partial: "topics" %>
  <%= render partial: "posts" %>
</div>
