<h2>Hi <%= current_user.full_name %>!</h2>
<h4>Welcome in the Admin panel.</h4>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="panel-body">
        <%= link_to "Add a new user", new_admin_category_path, class: 'btn btn-success' %>
        <table class="table table-admin">
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td class="col-md-10"><%= user.full_name %></td>
                <td class="col-md-1"><%= link_to "Show", "#" %></td>
                <td class="col-md-1"><%= link_to "Block", "#" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "More users...", admin_categories_path %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
      </div>
      <div class="panel-body">
        <%= link_to "Add a new category", new_admin_category_path, class: 'btn btn-success' %>
        <table class="table table-admin">
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td class="col-md-10"><%= category.name %></td>
                <td class="col-md-1"><%= link_to "Edit", edit_admin_category_path(category) %></td>
                <td class="col-md-1">
                  <% unless category.topics.present? %>
                    <%= link_to "Delete", admin_category_path(category), method: :delete, data: { confirm: "Are you sure that you want to delete #{category.name} category?"} %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "More categories...", admin_categories_path %>
      </div>
    </div>
  </div>
</div>
