<%= tinymce_assets %>
<%= tinymce %>
<%= simple_form_for [@topic, @post] do |p| %>
  <div class="hidden-reply">
    <a class="pull-right close-button">&times;</a>
    <%= p.input :content, as: :text, as: :text, input_html: { class: "tinymce" } %>
    <%= p.submit "Reply", class: "btn btn-success", id: "post-reply-button" %>
  </div>
<% end %>
