<h2><%= @topic.name %></h2>
<p><%= @topic.category.name %>

<div class="row">
  <div class="col-md-12 flash-messages">
    <%= render partial: "shared/flash_messages" %>
  </div>
</div>

<% @posts.each do |post| %>
  <%= render partial: "post", locals: { post: post } %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="pagination-center">
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>

<div id="post-reply-box">
  <% if user_signed_in? %>
    <% unless @topic.blocked %>
      <%= link_to fa_icon_with_text("Add reply", "reply"), new_topic_post_path(@topic), class: "btn btn-primary", id: "add-post-reply", remote: true %>
    <% end %>

    <% if @topic.blocked && can?(:open, @topic) %>
      <%= link_to fa_icon_with_text("Open", "unlock"), topic_open_path(@topic), method: :post, class: "btn btn-warning" %>
    <% end %>

    <% if @topic.blocked && can?(:close, @topic) %>
      <%= link_to fa_icon_with_text("Close", "lock"), topic_close_path(@topic), method: :post, class: "btn btn-warning" %>
    <% end %>

    <div id="new-post-reply" style="display: none;">
    </div>
    <div id="edit-post" style="display: none;">
    </div>
  <% else %>
    <%= link_to "Login to Add Post", new_topic_post_path(@topic), class: "btn btn-success" %>
  <% end %>
</div>
