<div class="row">
  <div class="col-md-3">
    <table class="table messages-table">
      <tr class="active">
        <td>All (<%= @message_thread_count %>)</td>
      </tr>
      <tr class="active">
        <td>Mine (<%= @started_threds_count %>)</td>
      </tr>
      <tr class="active">
        <td>Unread ()</td>
      </tr>
    </table>
  </div>
  <div class="col-md-9 messages-list">
    <%= link_to "New message", "#", class: "btn btn-primary pull-right" %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-8">Topic</th>
          <th class="col-md-2">Messages</th>
          <th class="col-md-2">Last Activity</th>
        </tr>
      </thead>
      <tbody>
        <% @message_threads.each do |mt| %>
          <tr>
            <td class="col-md-8"><%= link_to mt.topic, user_message_thread_path(id: mt, user_id: current_user) %></td>
            <td class="col-md-2"><%= mt.messages.count %></td>
            <td class="col-md-2"><%= time_ago_in_words(mt.updated_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
