<div class="row">
  <div class="col-md-3">
    <div class="list-group ">
      <%= link_to "All (#{@message_threads_count})", user_message_threads_path(current_user, type: :all), class: "list-group-item messages-label active", id: "all-messages", remote: true %>
      <%= link_to "Mine (#{@started_threads_count})", user_message_threads_path(current_user, type: :mine), class: "list-group-item messages-label", id: "mine-messages", remote: true %>
      <%= link_to "Unread (#{@unread_threads_count})", user_message_threads_path(current_user, type: :unread), class: "list-group-item messages-label", id: "unread-messages", remote: true %>
    </div>
  </div>
  <div class="col-md-9 messages-list">
    <div class="flash-messages">
      <%= flash_messages %>
    </div>
    <%= link_to "New message", new_user_message_thread_path(new: true), class: "btn btn-primary pull-right" %>
    <div id="messages_table">
      <%= render partial: "messages" %>
    </div>
  </div>
</div>
