<% topics.each do |t| %>
  <tr class="clickable">
    <td data-link="<%= topic_path(t) %>" class="td_link">
      <%= t.name %>
      <% if t.new? %>
        <span class="label label-primary">New</span>
      <% end %>
    </td>
    <td><%= t.category.name %></td>
    <td>
      <ul class="users-list">
        <% t.users.each do |user| %>
          <li class="<%= 'creator' if user.id == t.creator_id %>"><%= image_tag user.avatar(:mini) %></li>
        <% end %>
      </ul>
    </td>
    <td><%= t.posts_count %></td>
    <td><%= t.views %></td>
    <td><%= time_ago_in_words(t.posts.first.created_at) %> ago</td>
  </tr>
<% end %>

