<% topics.each do |t| %>
  <tr class="clickable">
    <td data-link="<%= topic_path(t) %>" class="td_link">
      <%= t.name %>
      <% if t.new? %>
        <span class="label label-primary">New</span>
      <% end %>
    </td>
    <td><%= t.category.name %></td>
    <td><%= t.user.email %></td>
    <td><%= t.posts_count %></td>
    <td><%= t.posts_count %></td>
    <td><%= t.created_at %></td>
  </tr>
<% end %>

