<% topics.each do |t| %>
  <tr class="clickable">
    <td data-link="<%= topic_path(t, page: t.last_page) %>" class="td_link col-md-5">
      <%= t.name %>
      <% if t.new? %>
        <span class="label label-primary">New</span>
      <% end %>
      <%= fa_icon("lock", class: "pull-right") if t.closed? %>
    </td>
    <td class="col-md-2">
      <div class="row">
        <div class="col-md-2">
          <%= category_box(t.category) %>
        </div>
        <div class="col-md-10">
          <%= t.category.name %>
        </div>
      </div>
    </td>
    <td class="col-md-2">
      <ul class="users-list">
        <% t.users.each do |user| %>
          <li><%= link_to image_tag(user.avatar(:mini), class: user_image_class(user, t)), user_path(user) %></li>
        <% end %>
      </ul>
    </td>
    <td class="col-md-1"><%= t.posts.count %></td>
    <td class="col-md-1"><%= t.views %></td>
    <td class="col-md-2"><%= time_ago_in_words(t.posts.first.created_at) %> ago</td>
  </tr>
<% end %>

