<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% if current_user.is_admin? %>
    <%= link_to "Admin Panel", admin_dashboard_path %>
  <% end %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Register", new_user_registration_path %>
<% end %>

<br>

<%= link_to "New Topic", new_topic_path, class: 'btn btn-success', id: 'start_new_topic', remote: true %>

<div id="topics_list">
  <%= render partial: 'topics_list', locals: { topics: @topics } %>
</div>

<div class="modal fade" id="modal">
</div>
