<script>
  window.onload = function() {
    $.ajax({
      url: "/topic_filter",
      method: "GET",
      success: function(data, status, xhr) { infinity_scroll_main_page("#main-pagination"); },
      error: function(xhr, status, error) { alert(error); }
    })
  }
</script>

<div class="row">
  <div class="col-md-12 flash-messages">
    <%= render partial: "shared/flash_messages" %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= link_to "All", topic_filter_path(type: :all), class: 'btn btn-primary topics_filters', id: "all-topics", remote: true %>
    <%= link_to "New", topic_filter_path(type: :new), class: 'btn btn-warning topics_filters', id: "new-topics", remote: true %>
    <%= link_to "Top", topic_filter_path(type: :top), class: 'btn btn-danger topics_filters', id: "top-topics", remote: true %>
    <%= select_tag :category, options_from_collection_for_select(Category.all, "id", "name"), class: 'form-control', id: 'category-select' %>
  </div>

  <div class="col-md-6">
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success pull-right', id: 'start_new_topic', remote: true if user_signed_in? %>
  </div>
</div>

<div id="topics_list">
  <p class="text-center"><img src="/assets/loading.gif" alt="Loading..." title="Loading..." /></p>
</div>

<div id="main-pagination">
  <%#= render partial: "pagination", locals: { topics: @topics } %>
</div>

<div id="new-topic">
</div>
