<div class="row">
  <h1 class="text-center">Posts list</h1>

  <div class="col-md-4">
    <%= link_to "Back to dashboard", admin_path, class: "btn btn-primary" %>
  </div>

  <div class="col-md-4">
    <%= form_tag search_admin_posts_path, method: :get do %>
      <div class="input-group">
        <%= text_field_tag :query, params[:query], class: "form-control" %>
        <span class="input-group-btn">
          <%= submit_tag "Search", class: "btn btn-default" %>
        </span>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">

    <%= render partial: "shared/flash_messages" %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-4">Content</th>
          <th class="col-md-3">post</th>
          <th class="col-md-2">User</th>
          <th class="col-md-3"></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td class="col-md-4"><%= post.content.truncate(120) %></td>
            <td class="col-md-3"><%= post.topic.name %></td>
            <td class="col-md-2"><%= post.user.username %></td>
            <td class="col-md-3">
              <%= link_to "Show", admin_post_path(post), class: "btn btn-success btn-sm", remote: true %>
              <%= link_to "Edit", edit_admin_post_path(post.id), class: "btn btn-primary btn-sm", remote: true %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <p><%= will_paginate @posts, renderer: BootstrapPagination::Rails %></p>
    </div>
  </div>
</div>
